amqp
asgiref
attrs
billiard
celery
click
click-didyoumean
click-plugins
click-repl
Django
django-api-generator
django-celery-results
django-debug-toolbar
django-jazzmin
djangorestframework
drf-spectacular
gunicorn
hiredis
inflection
jsonschema
jsonschema-specifications
kombu
packaging
Pillow
prompt_toolkit
psycopg2-binary
python-dateutil
python-dotenv
pytz
PyYAML
redis
referencing
rpds-py
setuptools
six
sqlparse
typing_extensions
tzdata
uritemplate
vine
wcwidth
whitenoise
